[workspace]
name = "object-detection-training"
version = "0.1.0"
description = "Basketball training project using rfnet and hydra"
authors = ["Enrique G. Ortiz <ortizeg@gmail.com>"]
channels = ["conda-forge"]
platforms = ["osx-arm64", "linux-64"]

[system-requirements]
cuda = "12.1"

[tasks]
train = { cmd = "python src/object_detection_training/train.py", env = { KMP_DUPLICATE_LIB_OK = "TRUE" } }
test = "pytest"
test-cov = "pytest --cov=src --cov-report=term --cov-report=xml -v"
precommit = "pre-commit run --all-files"
format = "ruff format ."
format-check = "ruff format --check ."
lint = "ruff check ."
typecheck = "mypy src/"


[dependencies]
python = "3.11.*"
hydra-core = "*"
loguru = "*"
numpy = "<2.0.0"
onnxscript = ">=0.5.6,<0.6"

[feature.dev.dependencies]
pytest = "*"
pytest-cov = "*"
tensorboard = ">=2.20.0,<3"
ruff = "*"
mypy = "*"
pre-commit = "*"

[environments]
default = ["dev"]
prod = []

[pypi-dependencies]
rfdetr = { version = "*", extras = ["metrics", "onnxexport"] }
object-detection-training = { path = ".", editable = true }
