[workspace]
name = "object-detection-training"
version = "0.1.0"
description = "Basketball training project using rfnet and hydra"
authors = ["Enrique G. Ortiz <ortizeg@gmail.com>"]
channels = ["conda-forge"]
platforms = ["osx-arm64", "linux-64"]

[system-requirements]
cuda = "12.1"

[tasks]
train = { cmd = "python -m object_detection_training.task_manager", env = { KMP_DUPLICATE_LIB_OK = "TRUE" } }
test = "pytest"
precommit = "pre-commit run --all-files"
format = "ruff format ."
lint = "ruff check . --fix"
typecheck = "mypy src/object_detection_training"


[dependencies]
python = "3.11.*"
hydra-core = "*"
loguru = "*"
numpy = "<2.0.0"
onnxscript = ">=0.5.6,<0.6"
lightning = "*"
pydantic = ">=2.0"
fvcore = "*"
wandb = ">=0.23.1,<0.24"
iopath = ">=0.1.10,<0.2"
colored = ">=2.3.1,<3"

[feature.dev.dependencies]
pytest = "*"
tensorboard = ">=2.20.0,<3"
ruff = "*"
mypy = "*"
pre-commit = "*"

[environments]
default = ["dev"]
prod = []

[pypi-dependencies]
rfdetr = { version = "*", extras = ["metrics", "onnxexport"] }
torchmetrics = { version = "*" }
object-detection-training = { path = ".", editable = true }
dotenv = "*"
orjson = "*"  # Fast JSON parsing for dataset loading
