name: CI & Release

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop, "*" ]

jobs:
  check:
    name: Lint and Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Pixi
        uses: prefix-dev/setup-pixi@v0.8.1
        with:
          pixi-version: v0.62.2
          cache: true

      - name: Check formatting
        run: pixi run -- ruff format --check .

      - name: Lint
        run: pixi run -- ruff check .

      - name: Type check
        run: pixi run typecheck

      - name: Run tests
        run: pixi run test

  release:
    name: Semantic Release
    runs-on: ubuntu-latest
    concurrency: release
    environment: pypi
    needs: [ check ]
    if: github.event_name == 'push' && (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/develop')
    permissions:
      id-token: write # Required for OIDC / Trusted Publishing
      contents: write # Required for creating releases/tags

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Python Semantic Release
        uses: python-semantic-release/python-semantic-release@v8.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
